PORT=8000
SECRET_KEY=SOMESECRET
FCM_KEY=
DB_URI=
ENV=[DEV | PROD]
JWT_REFRESH_EXPIRY=44640
JWTEXPIRY=1440
ALLOW_ORIGIN=*
DEFAULT_AVATAR=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=